.image-piece {
	position: absolute !important;
	background: white;
	touch-action: none;
}

.completion-effect .image-piece {
	animation-name: vanish-curved-lines;
	animation-duration: var(--completion-effect-duration);
	animation-fill-mode: forwards;
}

@keyframes vanish-curved-lines {
	to {
		stroke-width: 0;
	}
}