.image-piece {
	position: absolute;
	background: white;
	touch-action: none;
}

.completion-effect .image-piece {
	animation: vanish-curved-lines var(--completion-effect-duration);
}

@keyframes vanish-curved-lines {
	to {
		stroke-width: 0;
	}
}